* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slide-content {
    max-width: 975px;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 50px;

    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 4fr 2fr;
}

.slide-content .slide-date {
    position: absolute;
    top: 14px;
    left: 55px;
    font-size: 20px;
    z-index: 6210;
    color: #111;
}


.slide-image-wrapper {
    background-color: #111;
    border-radius: 16px;
    padding: 3px;
    margin-bottom: 16px;
    transform-style: preserve-3d;
    transform-origin: center center;
    scale: 0 0;
}

@keyframes scale-in {
    from {
        scale: 0 0;
    } to {
        scale: 1 1;
    }

}

.slide-image {
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    z-index: 1000;
    transform-style: preserve-3d;
    cursor: pointer;

}

.slide-image-wrapper:hover {
    box-shadow: 0 0 50px #fff;
    background-color: white;

}

.slide-title {
    grid-area: 1 / 2 / 3 / 3;
    position: relative;
    margin-left: 10px;
    width: 100px;

}

.slide-title a:hover h2 {
    text-decoration: underline;
    /* text-underline-position: below; */
    text-decoration-thickness: 4px;
    text-underline-offset: -8px;
}

.slide-title h2 {
    writing-mode: vertical-rl;
    font-size: 100px;
    color: #111;
    margin-left: 3px;
    transform-origin: 0 0;
    display: inline-block;
    white-space: nowrap;

    padding-bottom: 8px;
    border-bottom: none;
}

.slide-title .slide-links {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    position: absolute;
    bottom: 8px;
    font-size: 28px;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.slide-title .slide-links a {
    aspect-ratio: 1/1;
}

.slide-title .slide-links a i {
    cursor: pointer;
    color: #333;
    padding: 6px;
    border-radius: 50%;
    border: 3px solid #333;
}

.slide-info {
    width: 100%;
    height: 24px;
    display: flex;
}

.slide-description {
    width: 100%;
    font-family: Lato;
    
    z-index: 6210;
    color: #111;
    font-size: 18px;
}

.slide-description ul {
    list-style-position: outside;
}

.slide-description li {
    margin-left: 16px;
}

.slide-tags {
    display: flex;
    gap: 12px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.tag {
    text-align: center;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    height: 30px;
    line-height: 28px;
    width: 100px;
    box-shadow: 0 0 0.25px 2px black;
    opacity: 0;
}

@keyframes tag-animation {
    from {
        transform: translateY(5px);
        opacity: 0;

    } to {
        transform: translateY(0);
        opacity: 1;
    }
}


#page-nav {
    z-index: 6210;
    position: absolute;
    bottom: 0;
    padding: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px;
}

#page-nav .page-tab, #page-nav .page-tab-buffer {
    font-family: "Lato", sans-serif;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 28px;
    background-color: #333;
    color: white;
    border-radius: 16px;
    text-decoration: none;
    user-select: none;
    font-size: 17px;
}

#page-nav .page-tab-buffer {
    background-color: transparent;
    color: black;
    cursor:auto;
    font-size: 20px;
}

#page-nav .page-tab.selected-tab {
    background-color: white;
    color: #333;

}

#carousel .fa-arrow-up-right-from-square, #carousel .fa-github, #carousel .page-tab:not(.page-tab.selected-tab) {
    transition: color 0.25s ease, scale 0.25s ease, opacity 0.25s ease, background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
}

#carousel .fa-arrow-up-right-from-square:hover, #carousel .fa-github:hover {
    /* color: black;
    scale: 1.1; */
    background-color: #333;
    border-color: white;
    color: white;
}

#carousel .fa-arrow-up-right-from-square {
    border-radius: 25%;
}

#carousel .page-tab:hover:not(.page-tab.selected-tab) {
    opacity: 0.5;
}


@media only screen and (max-width: 768px) {
    #carousel {
        height: 75vh;
        min-height: unset;
    }

    .slide {
        gap: 1px;
    }

    .slide-content {
        padding: 50px 5px;
    }

    .slide-content .slide-title {
        margin: 0;
        width: 64px;
        margin-right: 5px;
    }

    .slide-content .slide-title h2 {
        font-size: 64px;
    }

    .slide-content .slide-date {
        left: 10px;
    }

    .slide-content .slide-tags {
        font-size: 11.5px;
        gap: 5px;
        margin-bottom: 6px;
    }

    .slide-tags .tag {
        width: 90px;
    }

    .slide-description {
        font-size: 15px;
    }

    .slide-content .slide-image-wrapper {
        margin-bottom: 6px;
    }

    #carousel button {
        width: 32px;
        height: 32px;
        top: unset;
        bottom: -8px;
        padding: 0;
    }

    #carousel button i {
        font-size: 16px;
    }

    #carousel #page-nav {
        padding-bottom:7.5px;
    }

    #page-nav {
        gap: 12px;
    }

    #page-nav .page-tab {
        width: 28px;
        height: 28px;
        line-height: 26px;
        font-size: 16px;
    }

    #page-nav .page-tab-buffer {
        font-size: 16px;
        width: 6px;
        text-align: center;
    }

    #carousel .fa-arrow-up-right-from-square, #carousel .fa-github, #carousel .page-tab:not(.page-tab.selected-tab) {
        transition: none;
        pointer-events: all;
        user-select: all;
        z-index: 62100;
    }
    

}