.hero-words {
    width: 100%;
    height: calc(100vh - 75px);
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-family: "Consolas", monospace;
    overflow: hidden;
}

.hero-words-row {
    text-wrap: nowrap;
    display: flex;
    position: relative;
    gap: 64px;
    overflow: hidden;
    transform-origin: left center;

    animation: slide-left linear infinite forwards;
    animation-duration: 200s;
}

.hero-words-row:nth-child(even) {
    animation-name: slide-right;
}

a.token:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    cursor: pointer;
}

.token {
    color: #ffffff0e;
    display: block;
    white-space: nowrap;
    cursor: default;
    user-select: none;
    transition: color 0.15s ease-out, scale 0.15s ease-out;
}

.token:hover {
    scale: 1.05;
}

@keyframes slide-left {
    from {
        translate: 0% 0;
    }
    to {
        translate: -25% 0;
    }
}

@keyframes slide-right {
    from {
        translate: 0% 0;
    }
    to {
        translate: 25% 0;
    }
}

@media only screen and (max-width: 768px) {
    .hero-words {
        font-size: 40px;
    }

    .hero-words-row {
        gap: 32px;
    }
}
