:root {
    --nav-height: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #555 #222;
}

*::-webkit-scrollbar-track {
    background: #222;
}

*::-webkit-scrollbar-thumb {
    background-color: #555;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden !important;
}

body {
    height: 100%;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-color: #111;
}

.background, .fade-in {
    display: block;
    background: linear-gradient(to bottom, #000, #1e1d27);
    /* background-image: url(../img/testcode.png); */
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}



.fade-in {
    z-index: 10000000;
    background: black;

    animation: fade 0.75s ease-out 0.25s forwards;
}

@keyframes fade {
    from {
        background: rgba(0 0 0 / 1);
    } 
    99.9% {
        background: rgba(0 0 0 / 0);
        visibility: visible;
        width: 100%;
        height: 100vh;
    } 
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    height: var(--nav-height);
    z-index: 621621621;
}

header nav {
    font-family: "Source Code Pro", monospace;
    display: flex;
    height: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

header nav a {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: auto;
}

header nav img {
    width: 3.5rem;
    display: inline-block;
    margin-left: 0.5rem;
}


header nav ul {
    display: flex;
    flex-direction: row;
    height: var(--nav-height);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0.5rem;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 3rem;
    padding: 0 0.9rem;
    font-size: 1.4rem;
}

header nav ul li a {
    color: #ddd;
    display: block;
    text-decoration: none;
}

header nav ul li a:hover {
    color:#fff;
}

.drop-toggle, .drop {
    display: none;
}

header nav ul li:hover a {
    scale: 1.075;
    transition: all 0.25s;
    transform-origin: center center;
}

header nav ul li:nth-of-type(1):hover a {
    color: rgb(247, 13, 26);
}

header nav ul li:nth-of-type(2):hover a {
    color: rgb(57 255 20);
}

header nav ul li:nth-of-type(3):hover a {
    color: rgb(0 150 255);
}

header nav ul li:nth-of-type(4):hover a {
    color: rgb(255, 0, 251);
}

main {
    width: 100%;
}

h1 {
    color: white;
    font-family: "Source Code Pro", monospace;
    margin-right: auto;
    margin-left: 0.1rem;
}

a {
    color: white;
    text-decoration: none;
}

#hero-blob {
    width: 400px;
    height: 400px;
    background: radial-gradient(teal, purple);
    opacity: 0.5;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    border-radius: 50%;
    filter: blur(100px);
    scale: 1 1;

    animation: blob 25s linear infinite;
}

@keyframes blob {
    0% {
        scale: 1 1;
        rotate: 0deg;

    } 25% {
        scale: 1.25 0.75;

    } 50% {
        scale: 1 1;

    } 75% {
        scale: 0.75 1.25
    } 100% {
        scale: 1 1;
        rotate: 360deg;
    }
}

.hero {
    height: 100vh;
    /* background: url(../img/david3.jpg) no-repeat; */
    /* background-size: cover;
    background-position: right top; */

}

.about-me {
    background: url(../img/david3.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position-x: 80%;
    background-position-y: 30%;

    position: absolute;
    pointer-events: none;
    
    mask-image: url(../img/mask.svg);
    mask-repeat: no-repeat;
    mask-size: 60vh 60vh;
    mask-position: 80% center;

    transform-origin: 50% 50%;
    transition: mask-size 0.5s ease, background-size 1s ease;
    /* animation: circle-out 1s ease 1s forwards; */
}


.to-about-me {
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;

    width: 60vh;
    aspect-ratio: 1/1;

    right: 0;
    top: 50%;
    right: 20%;
    translate: 20% -50%;


    z-index: 62100;
    border-radius: 50%;
    position: absolute;

    border-color: yellow;
    /* border-color: #ffffff33; */
    transition: background-color 0.25s ease, border-color 0.25s ease;
}

.to-about-me:hover {
    animation: rotate 60s linear infinite forwards;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}

.hero-wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.hero-content {
    max-width: 600px;
    margin: 0 3rem 0 1rem;
}

.hero-row {
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 8px;
    opacity: 0;
}

.hero-box {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.3);

    padding: 12px;
}

.hero-icon {
    flex: 0 0 auto;
    height: 100%;
    background-color: red;
    aspect-ratio: 1/1;
}

.hero-row.show-row {
    animation: show 1s ease-out forwards;
}

.hero-row:nth-of-type(2n) {
    padding-right: 50px;
}

.hero-row:nth-of-type(2n + 1) {
    padding-left: 50px;
}


.hero-box p {
    font-size: 18px;
    padding: 0 1rem;
    text-shadow: 1px 1px 2px #000;
}

.hero h2, .about-me h2 {
    font-size: 64px;
    line-height: 90px;
    text-align: center;
    /* opacity: 0; */
    text-shadow: 4px 4px 0px #333;
    width: fit-content;
    margin: 0 auto;
    padding-right: 10px;
    translate: 10px 0;


    /* animation: show 1s ease-out forwards 0.5s; */
}


.about-me .show {
    animation: show 1s ease forwards;
}

.about-me h4 {
    text-shadow: 2px 2px 0px #333;
    font-size: 22px;
    margin: 3px 0;
    font-family: "Consolas", monospace;
    opacity: 0;

    animation-delay: 0.85s !important;
}

.hero-bottom {
    position: absolute;
    width: 400px;
    bottom: 2rem;
    left: 50%;
    translate: -50% -50%;
}

.hero-bottom h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.hero-bottom i {
    display: inline-block;
    margin-left: 10px;
    animation: bounce 0.5s ease-in-out 0s infinite alternate;
}


.hero-location {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
}

.hero-location i {
    margin-right: 5px;
}

@keyframes bounce {
    from {
        translate: 0 5px;   
    }
    100% {
        translate: 0 -5px;
    }
}

@keyframes show {
    from {
        opacity: 0;
        translate: 0 10px;
    } to {
        opacity: 1;
        translate: 0;
    }
}

@keyframes bar-grow {
    from {
        width: 0;
    } to {
        width: 100%;
    }    
}

.bar {
    width: 100%;
    height: 0.28rem;
    background-color: white;
    margin: 8px auto;
    border-radius: 100rem;

}

.bar-anim {
    width: 0;
}

.bar-anim-show {
    animation: bar-grow 1s ease-out 1s forwards;
}

section#imgs {
    margin: 60px auto;
}

section#imgs h3, section#imgs h3 > a {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #bbb;
}

section#imgs h3 > a:hover {
    text-decoration: underline;
    color: #fff;
}

.legend {
    display: flex;
    flex-direction: column;
}

.legend-content {
    text-align: left;
    max-width: 600px;
    margin-left: 0.8rem;
}

.legend h2 {
    font-size: 48px;
    width: 100%;
    margin-bottom: 0.3rem;
    white-space: nowrap;
}

.legend h4 {
    font-size: 18px;
    color: #ccc;
}

.legend p {
    font-size: 17px;
}

.legend i {
    font-size: 22px;
    vertical-align: middle;
    transition: 0.1s ease-out;
}

.legend i:hover {
    color: rgb(0 150 255);
}

/* .tag {
    text-align: center;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    height: 30px;
    line-height: 28px;
    width: 100px;
    outline: 2px solid black;
} */



.about {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: clamp(1vw 10rem 20rem);
}

.about h2, #interactions h2 {
    font-size: 3.3rem;
    margin-bottom: 1.5rem;
}

.about-content {
    display: flex;
    gap: 3rem;
    width: fit-content;
    margin: 0 auto;
}


.about .about-left, .about .about-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    position: relative;
}

.about .about-left {
    flex-grow: 1;
}


.about .about-right {
    flex-grow: 10;
    justify-content: center;
}

.about .img-wrap {
    display: block;
    width: 50%;
    margin-left: auto;
}

.about .img-wrap img {
    width: 100%;
    aspect-ratio: 7/9;
    object-fit: cover;
    border-radius: 10px;
}

.about-left h4 {
    text-align: center;
    color: #aaa;
    font-size: 12px;
}

.about-bar {
    display: flex;
    font-size: 24px;
    margin-bottom: 10px;
    opacity: 0;
    position: relative;
}

.about-inner-flex {
    position: relative;
}   

.about-bar p {
    text-align: left;
    font-size: 20px;
}

.about-bar h4 {
    font-size: 16px;
    color: #ccc;
    text-align: left;
}

.about-bar i {
    flex-grow: 0;
    margin-right: 10px;
    display: inline;
    text-align: center;
    width: 40px;

    vertical-align: middle;
    line-height: normal;
}


.show-about {
    animation: about-show 0.5s ease-in forwards;
    position: relative;
}

@keyframes about-show {
    from {
        opacity: 0;
        translate: 0 10px;
    } to {
        opacity: 1;
    }
}

.about-bar:nth-of-type(2) {
    animation-delay: 0.33s;
}

.about-bar:nth-of-type(3) {
    animation-delay: 0.66s;
}

.about-bar:nth-of-type(4) {
    animation-delay: 1s;
}

.about-bar:nth-of-type(5) {
    animation-delay: 1.33s;
}

.about-bar:nth-of-type(6) {
    animation-delay: 1.66s;
}

.about-bar .about-links {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 10px;
    margin-left: 60px;
}


#mail:hover, #re:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

#mail:active + * + .copied {
    opacity: 1;
    transition: opacity 0.15s ease;
}

.copied {
    opacity: 0;
    position: absolute;
    top: 50px;
    font-size: 16px;

    left: 75%;
    translate: -50%;

    transition: opacity 0.5s ease;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
}


.skills {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;

}

h3 {
    font-size: 2rem;
    margin-top: 2rem;
}

.skill {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.skill h4 {
    flex-grow: 0;
    font-size: 18px;
    width: 100px;
}

.skill-bar-wrapper {
    flex: 1;
    margin-left: 1rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.skill .skill-bar {
    flex: 1;
    height: 1rem;
    width: 0;
    border-radius: 100px;
}

@keyframes skill-low {
    to {
        width: 17%;
    }
}

.skill.show-skill .skill-bar.low {
    animation: skill-low 1s ease 1s forwards;
}

@keyframes skill-eh {
    to {
        width: 34%;
    }
}

.skill.show-skill .skill-bar.eh {
    animation: skill-eh 1s ease 1s forwards;
}

@keyframes skill-okay {
    to {
        width: 51%;
    }
}

.skill.show-skill .skill-bar.okay {
    animation: skill-okay 1s ease 1s forwards;
}

@keyframes skill-good {
    to {
        width: 68%;
    }
}

.skill.show-skill .skill-bar.good {
    animation: skill-good 1s ease 1s forwards;
}

@keyframes skill-great {
    to {
        width: 85%;
    }
}

.skill.show-skill .skill-bar.great {
    animation: skill-great 1s ease 1s forwards;
}

@keyframes skill-perfect {
    to {
        width: 100%;
    }
}

.skill.show-skill .skill-bar.perfect {
    animation: skill-perfect 1s ease 1s forwards;

}

.slide-image-top {
    background-position-y: top !important;
}

footer {
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid blue; */
}

.footer-content:first-child {
    font-size: 18px;
}


.footer-wrapper > * {
    flex-basis: 50%;
    max-width: 300px;
    width: 300px;
    /* outline: 1px solid red; */
}

.footer-content:first-child {
    border-right: 2px solid white;
}

.footer-content:first-child > p:nth-of-type(2) {
    color: #ddd;
}

.footer-wrapper .footer-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.footer-wrapper .footer-links a:hover {
    transition: all 0.1s ease-out;
}

.footer-wrapper .footer-links a:hover {
    scale: 1.3;
}

.footer-content p:first-of-type {
    margin-bottom: 0.6rem;
}


#interactions {
    margin: 100px auto;
    max-width: 1200px;
}

#interactions h2 {
    text-align: center;
}

.interactions-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.interaction {
    display: block;
    width: 95%;
    height: 95%;
    margin: 0 auto;
    aspect-ratio: 3/4;
    overflow: hidden;

    background: blue no-repeat;
    border-radius: 8px;
    position: relative;
    background-position: center;
    background-size: auto 100%;

    transition: scale 0.3s ease, background-size 0.45s ease
}

.interaction:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.5);
    z-index: 1;
    transition: background-color 0.3s ease;
}

.interaction:hover {
    scale: 1.03;
    background-size: auto 120%;
    border: 2px solid rgba(255, 255, 255, 1);
}


.interaction:hover::before {
    background-color: rgba(0 0 0 / 0);
}

.interaction.disabled:hover::before {
    background-color: rgba(0 0 0 / 0.5);
}

.interaction.disabled:active {
    animation: bg-shake 0.25s linear forwards;
}

@keyframes bg-shake {
    from { 
        background-position-x: center;
    }
    25% {
        background-position-x: 45%;
    }
    50% {
        background-position-x: center;
    }
    75% {
        background-position-x: 55%;
    }
    to {
        background-position-x: center;
    }
}

.interaction-text {
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #000000AA 40%, #00000000);
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
}

.interaction-text h1 {
    font-size: 28px;
}

.interaction-text p {
    padding: 0 2px;
}

#interactions h2 {
    user-select: none;
    margin-bottom: 0;
}

#interaction-button {
    user-select: none;
    cursor: pointer;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    font-size: 18px;

    transition: background-color 0.25s ease;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#interaction-button:hover {
    background-color: rgba(255, 255, 255, 0.35);
}

#interaction-button i {
    display: inline-block;
    width: 40px;
    font-size: 30px;
    vertical-align: middle;
}

.interactions-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.interaction-show {
    animation: show-int 0.5s ease forwards;
}

.interaction-hide {
    animation: hide-int 0.5s ease forwards;
}

@keyframes show-int {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    } 1% {
        width: 95%;
        height: 95%;
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes hide-int {
    from {
        width: 95%;
        height: 95%;
        opacity: 1;
    } 85% {
        width: 95%;
        height: 95%;
        opacity: 0;
    } to {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

.interaction.banner::after {
    content: attr(data-banner-text);
    position: absolute;
    width: 75%;
    padding: 10px;
    text-align: center;
    rotate: 45deg;
    top: 4.5%;
    right: -28%;

    background: rgba(200, 200, 200, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid white;
}

.interaction.banner:hover::after {
    z-index: 100;
}


@media (prefers-reduced-motion) {
    .fade-in {
        display: none;
    }

    .hero-bottom i {
        animation: none;
    }

    @keyframes fade {
        from {
            background: rgba(0 0 0 / 0);
            width: 100%;
            height: 100vh;
        } 
        0.01% {
            background: rgba(0 0 0 / 0);
            visibility: hidden;
            width: 0;
            height: 0;
        } 
        to {
            visibility: hidden;
        }
    }

    @keyframes about-show {
        from {
            opacity: 1;
        } to {
            opacity: 1;
        }
    }

    header nav ul {
        transition: all 0s;
    }
}