:root {
    --nav-height: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #555 #222;
}
*::-webkit-scrollbar-track {
    background: #222;
}

*::-webkit-scrollbar-thumb {
    background-color: #555;
}

html {
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 200vh;
    color: white;
}

.background, .fade-in {
    display: block;
    background: linear-gradient(to bottom, #000, #1e1d27);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

.fade-in {
    z-index: 10000000;
    background: black;

    animation: fade 0.5s ease-out 0.25s forwards;
}

@keyframes fade {
    from {
        background: rgba(0 0 0 / 1);
    } 
    99.9% {
        background: rgba(0 0 0 / 0);
        visibility: visible;
        width: 100%;
        height: 100vh;
    } 
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    height: var(--nav-height);
    z-index: 10000;
}

header nav {
    font-family: "Source Code Pro", monospace;
    display: flex;
    height: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

header nav h1 {
    display: inline-block;
}

header nav img {
    width: 3.5rem;
    display: inline-block;
    margin-left: 0.5rem;
}


header nav ul {
    display: flex;
    flex-direction: row;
    height: var(--nav-height);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0.5rem;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 3rem;
    padding: 0 0.9rem;
    font-size: 1.4rem;
}

header nav ul li a {
    color: #ddd;
    display: block;
    text-decoration: none;
}

header nav ul li a:hover {
    color:#fff;
}

.drop-toggle, .drop {
    display: none;
}

header nav ul li:hover a {
    scale: 1.075;
    transition: all 0.25s;
    transform-origin: center center;
}

header nav ul li:nth-of-type(1):hover a {
    color: rgb(247, 13, 26);
}

header nav ul li:nth-of-type(2):hover a {
    color: rgb(57 255 20);
}

header nav ul li:nth-of-type(3):hover a {
    color: rgb(0 150 255);
}

main {
    /* width: min(1200px, 100% - 3rem);
    margin: auto; */
    width: 100%;
}

h1 {
    color: white;
    font-family: "Source Code Pro", monospace;
    margin-right: auto;
    margin-left: 0.1rem;
}

a {
    color: white;
    text-decoration: none;
}

.hero {
    min-height: 100vh;
    background: url(../public/img/david2.jpg) no-repeat;
    background-size: cover;
    background-position: right top;
}

.hero-wrapper {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.hero-content {
    max-width: 500px;
    margin: 0 3rem 0 1rem;
}

.hero-box {
    background: rgba(200, 200, 200, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid white;

    padding: 1rem;
    margin-top: 1.5rem;
    opacity: 0;
    animation: show 1s ease-out 1s forwards;
}

.hero-box p {
    font-size: 22px;
    padding: 0 1rem;
}

.hero h2 {
    font-size: 3.5rem;
    text-align: right;
    margin-right: 0.5rem;
    opacity: 0;
    text-shadow: 3px 3px 2px #333;


    animation: show 1s ease-out forwards 0.5s;
}

section#imgs {
    margin: 4rem auto;
}

section#imgs h3, section#imgs h3 > a {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #bbb;
}

section#imgs h3 > a:hover {
    text-decoration: underline;
    color: #fff;
}

.hero-bottom {
    position: absolute;
    width: 400px;
    bottom: 2rem;
    left: 50%;
    translate: -50% -50%;
}

.hero-bottom h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.hero-bottom i {
    display: inline-block;
    margin-left: 10px;
    animation: bounce 0.5s ease-in-out 0s infinite alternate;
}

@keyframes bounce {
    from {
        translate: 0 5px;   
    }
    100% {
        translate: 0 -5px;
    }
}

@keyframes show {
    from {
        opacity: 0;
        translate: 0 10px;
    } to {
        opacity: 1;
        translate: 0;
    }
}

@keyframes bar-grow {
    from {
        width: 0;
    } to {
        width: 100%;
    }
    
}

.fa-arrow-up-right-from-square {
    transition: 0.1s ease-out;
}

.fa-arrow-up-right-from-square:hover { /* Link icon */
    color: rgb(0 150 255);
}

.bar {
    width: 100%;
    height: 0.28rem;
    background-color: white;
    margin: 0.5rem 0;
    border-radius: 100rem;

}

.bar-anim {
    float: right;
    width: 0;
    animation: bar-grow 0.75s ease-out 0.75s forwards;
}

.legend {
    display: flex;
    flex-direction: column;
}

.legend-content {
    text-align: left;
    max-width: 600px;
    margin-left: 0.8rem;
}

.legend h2 {
    font-size: 48px;
    width: 100%;
    margin-bottom: 0.3rem;
}

.legend h4 {
    font-size: 18px;
    color: #ccc;
}

.legend p {
    font-size: 17px;
}

.legend i {
    font-size: 22px;
    vertical-align: middle;
}

.tags {
    display: flex;
    gap: 0.8rem;
}

.tag {
    width: 5.8rem;
    height: 1.8rem;
    font-size: 14px;

    line-height: 1.8rem;
    text-align: center;
    border-radius: 7px;
}

.about {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: clamp(1vw 10rem 20rem);
}

.about h2, #interactions h2 {
    font-size: 3.3rem;
    margin-bottom: 1.5rem;
}

.about-content {
    display: flex;
    gap: 3rem;
    width: fit-content;
    margin: 0 auto;
}


.about .about-left, .about .about-right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    position: relative;
}

.about .about-left {
    flex-grow: 1;
}



.about .about-right {
    flex-grow: 10;
    justify-content: center;
}

.about .img-wrap {
    display: block;
    width: 50%;
    margin-left: auto;
}

.about .img-wrap img {
    width: 100%;
    aspect-ratio: 7/9;
    object-fit: cover;
    border-radius: 10px;
}

.about-left h4 {
    text-align: center;
    color: #aaa;
    font-size: 12px;
}

.about-bar {
    display: flex;
    font-size: 24px;
    margin-bottom: 10px;
    opacity: 0;
    position: relative;
}

.about-inner-flex {
    position: relative;
}   

.about-bar p {
    text-align: left;
    font-size: 20px;
}

.about-bar h4 {
    font-size: 16px;
    color: #ccc;
    text-align: left;
}

.about-bar i {
    flex-grow: 0;
    margin-right: 10px;
    display: inline;
    text-align: center;
    width: 40px;

    vertical-align: middle;
    line-height: normal;
}

.show-about {
    animation: about-show 0.5s ease-in forwards;
    position: relative;
}

@keyframes about-show {
    from {
        opacity: 0;
        translate: 0 10px;
    } to {
        opacity: 1;
    }
}

.about-bar:nth-of-type(2) {
    animation-delay: 0.33s;
}

.about-bar:nth-of-type(3) {
    animation-delay: 0.66s;
}

.about-bar:nth-of-type(4) {
    animation-delay: 1s;
}

.skills {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;

}

h3 {
    font-size: 2rem;
    margin-top: 2rem;
}

.skill {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.skill h4 {
    flex-grow: 0;
    font-size: 18px;
    width: 100px;
}

.skill-bar-wrapper {
    flex: 1;
    margin-left: 1rem;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.skill .skill-bar {
    flex: 1;
    height: 1rem;
    width: 0;
    border-radius: 100px;
}

@keyframes skill-low {
    to {
        width: 17%;
    }
}

.skill.show-skill .skill-bar.low {
    animation: skill-low 1s ease 1s forwards;
}

@keyframes skill-eh {
    to {
        width: 34%;
    }
}

.skill.show-skill .skill-bar.eh {
    animation: skill-eh 1s ease 1s forwards;
}

@keyframes skill-okay {
    to {
        width: 51%;
    }
}

.skill.show-skill .skill-bar.okay {
    animation: skill-okay 1s ease 1s forwards;
}

@keyframes skill-good {
    to {
        width: 68%;
    }
}

.skill.show-skill .skill-bar.good {
    animation: skill-good 1s ease 1s forwards;
}

@keyframes skill-great {
    to {
        width: 85%;
    }
}

.skill.show-skill .skill-bar.great {
    animation: skill-great 1s ease 1s forwards;
}

@keyframes skill-perfect {
    to {
        width: 100%;
    }
}

.skill.show-skill .skill-bar.perfect {
    animation: skill-perfect 1s ease 1s forwards;

}


.slide-image-top {
    background-position-y: top !important;
}

footer {
    width: 100%;
    min-height: 20vh;
    display: flex;
    align-items: center;

    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid blue; */
}

.footer-content:first-child {
    font-size: 18px;
}


.footer-wrapper > * {
    flex-basis: 50%;
    max-width: 300px;
    width: 300px;
    /* outline: 1px solid red; */
}

.footer-content:first-child {
    border-right: 2px solid white;
}

.footer-content:first-child > p:nth-of-type(2) {
    color: #ddd;
}

.footer-wrapper .footer-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.footer-wrapper .footer-links a:hover {
    transition: all 0.1s ease-out;
}

.footer-wrapper .footer-links a:hover {
    scale: 1.3;
}

.footer-content p:first-of-type {
    margin-bottom: 0.6rem;
}

.python {
    background: linear-gradient(135deg, #ffde57 50%, #4584b6 50%);
    color: black;
}

.discord-py {
    background-color: #5865F2;
}

.javascript {
    background-color: #f0db4f;
    color: #323330;
}


.css {
    background: linear-gradient(135deg, #264de4 50%, #2965f1 50%);
}

.html {
    background: linear-gradient(135deg, #e34c26 50%, #f06529 50%);
}

.react {
    background-color: #00d8ff;
    color: black;
}

.vscode {
    background-color: #0078d7;
}

.typescript {
    background-color: #3178c6;
    color: #00273f;
}

.github {
    background: linear-gradient(135deg, #333 50%, #4078c0 50%);
}

.java {
    background: linear-gradient(135deg, #f89820  50%, #5382a1  50%);   
}

.jquery {
    background: linear-gradient(135deg, #0769AD 50%, #7ACEF4 50%);
}

.twitter:hover {
    color: #1DA1F2;
}

.git:hover {
    background: linear-gradient(135deg, #333 33%, #4078c0 33%);
    background-clip: text;
    color: transparent;
}

.linkedin:hover {
    color: #0077B5;
}

#mail:hover {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

#mail:active + * + .copied {
    opacity: 1;
    transition: opacity 0.15s ease;
}

.copied {
    opacity: 0;
    position: absolute;
    top: 50px;
    font-size: 16px;

    left: 50%;
    translate: -50%;

    transition: opacity 0.5s ease;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
}

.static-site {
    text-decoration: underline;
    cursor: pointer;
}

#interactions {
    margin: 100px auto;
    max-width: 1200px;
}

#interactions h2 {
    text-align: center;
}


.interactions-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;

}

.interaction {
    display: block;
    width: 95%;
    height: 95%;
    margin: 0 auto;
    aspect-ratio: 3/4;
    overflow: hidden;

    background: url(../public/img/adopt.jpg) no-repeat;
    border-radius: 8px;
    position: relative;
    background-position: center;
    background-size: auto 100%;

    transition: scale 0.3s ease, background-size 0.45s ease;
}

.interaction:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 0.5);
    z-index: 1;
    outline: 1px solid red;

    transition: background-color 0.3s ease;
}

.interaction:hover {
    scale: 1.03;
    background-size: auto 120%;
    border: 2px solid rgba(255, 255, 255, 1);
}

.interaction:hover::before {
    background-color: rgba(0 0 0 / 0);
}

.interaction-text {
    height: 40%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #000000AA 40%, #00000000);
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
}

.interaction-text h1 {
    font-size: 28px;
}

.interaction-text p {
    padding: 0 2px;
}

@media only screen and (max-width: 768px) {
    
    header nav ul {
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0 0 16px 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        flex-direction: column;
        height: fit-content;
        margin: 0;
    
        width: 100%;
        position: absolute;
        scale: 0;
        transform-origin: top right;
        rotate: 90deg;
    
        transition: rotate 0.25s, scale 0.25s;
    }
    
    
    header nav ul li {
        display: inline-block;
        width: 100%;
        transition: background-color 0.25s;
    }
    
    header nav ul li a {
        width: 100%;
        filter: blur(5px);
        opacity: 0;
        transition: all 0.2s;
        font-size: 1.25rem;
    }

    header nav ul li:first-of-type {
        border-top: 1px solid #333;
    }

    header nav ul li:last-of-type {
        border-radius: 0 0 16px 16px;
    }
    
    header nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .drop {
        color: white;
        display: block;
        font-size: 2.2rem;
        line-height: var(--nav-height);
        width: 4rem;
        height: 100%;
        text-align: center;
        z-index: 5;
    }
    

    .drop-toggle {
        display: block;
        scale: 3.5;
        position: absolute;
        right: 1.5rem;
        z-index: 10;
        opacity: 0;
        cursor: pointer;

    }

    header nav .drop-toggle:checked + ul {
        display: flex;
        flex-direction: column;
        top: var(--nav-height);
        rotate: 0deg;
        scale: 1;
        z-index: 10;
    }
    
    header nav .drop-toggle:checked + ul li a {
        opacity: 1;
        color: #fff;
        filter: blur(0);
    }


    header nav ul li:nth-of-type(1):hover a,
    header nav ul li:nth-of-type(2):hover a,
    header nav ul li:nth-of-type(3):hover a {
        scale: unset;
    }

    header nav ul li:nth-of-type(1):hover {
        background-color: rgba(255 10 59 / 0.4);
        backdrop-filter: blur(10px);
    }

    header nav ul li:nth-of-type(2):hover {
        background-color: rgba(57 255 20 / 0.3);
        backdrop-filter: blur(10px);
    }

    header nav ul li:nth-of-type(3):hover {
        background-color: rgba(0 150 255 / 0.3);
        backdrop-filter: blur(10px);
    }

    header nav ul li:nth-of-type(1) a {
        transition-delay: 0.15s;
    }

    header nav ul li:nth-of-type(2) a {
        transition-delay: 0.3s;
    }
    
    header nav ul li:nth-of-type(3) a {
        transition-delay: 0.45s;
    }

    h1 {
        font-size: 1.33rem;
    }

    .hero {
        background-position: 80% top;
    }

    .hero-content {
        margin: 0 auto;
        padding: 0 0.5rem;
    }

    .hero h2 {
        text-align: center;
        margin-right: 0;
        font-size: 3rem;
    }

    .hero-bottom h2 {
        font-size: 1.6rem;
        margin: 0;
        text-align: center;
    }

    .legend-content {
        margin-left: 0;
    }

    .tags {
        gap: 0.3rem;
    }

    .tag {
        width: 4.4rem;
        font-size: 12px;
    }

    .legend h2 {
        font-size: 36px;
        width: 100%;
    }

    .legend i {
        font-size: 15px;
    }

    .about .about-content {
        flex-direction: column;
        gap: 0;
        margin: 0 auto;
    }
    
    .about .about-right {
        margin: 1rem auto 0;
        padding: 0 0.5rem;

    }

    .about .about-right p {
        font-size: 20px;
    }


    .about .about-content .img-wrap {
        margin: 0 auto;
        width: 33%;
    }

    .about-right .about-bar {
        margin-right: auto;

    }



    .skills {
        grid-template-columns: 1fr;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-content:first-child {
        border-right: none;
        padding-bottom: 1rem;
        border-bottom: 2px solid white;
    }
    
    .footer-links {
        padding-top: 1rem;
    }

    .interactions-wrapper {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    
    }
    
}

@media (prefers-reduced-motion) {
    .fade-in {
        display: none;
    }

    .hero-bottom i {
        animation: none;
    }

    @keyframes fade {
        from {
            background: rgba(0 0 0 / 0);
            width: 100%;
            height: 100vh;
        } 
        0.01% {
            background: rgba(0 0 0 / 0);
            visibility: hidden;
            width: 0;
            height: 0;

        } 
        to {
            visibility: hidden;
        }
    }

    @keyframes about-show {
        from {
            opacity: 1;
        } to {
            opacity: 1;
        }
    }

    header nav ul {
        transition: all 0s;
    }


}