:root {
    --nav-height: 5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #555 #222;
}
*::-webkit-scrollbar-track {
    background: #222;
}

*::-webkit-scrollbar-thumb {
    background-color: #555;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 200vh;
    color: white;
}

.background, .fade-in {
    display: block;
    background: linear-gradient(to bottom, #000, #1e1d27);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

.fade-in {
    z-index: 10000000;
    background: black;

    animation: fade 0.5s ease-out 0.25s forwards;
}

@keyframes fade {
    from {
        background: rgba(0 0 0 / 1);
    } 
    99.9% {
        background: rgba(0 0 0 / 0);
        visibility: visible;
        width: 100%;
        height: 100vh;
    } 
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    height: var(--nav-height);
    z-index: 10000;
}

header nav {
    font-family: "Source Code Pro", monospace;
    display: flex;
    height: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: flex-end;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    flex-direction: row;
    height: var(--nav-height);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0.5rem;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 3rem;
    padding: 0 0.9rem;
    font-size: 1.4rem;
}

header nav ul li a {
    color: #ddd;
    display: block;
    text-decoration: none;
}

header nav ul li a:hover {
    color:#fff;
}

.drop-toggle, .drop {
    display: none;
}

header nav ul li:hover a {
    scale: 1.075;
    transition: all 0.25s;
    transform-origin: center center;
}

header nav ul li:nth-of-type(1):hover a {
    color: rgb(247, 13, 26);
}

header nav ul li:nth-of-type(2):hover a {
    color: rgb(57 255 20);
}

header nav ul li:nth-of-type(3):hover a {
    color: rgb(0 150 255);
}

main {
    /* width: min(1200px, 100% - 3rem);
    margin: auto; */
    width: 100%;
}

h1 {
    color: white;
    font-family: "Source Code Pro", monospace;
    margin-right: auto;
    margin-left: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

.hero {

    min-height: 100vh;

    background: url(../img/mountains.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}

.hero-content {
    max-width: 500px;
    margin: 0 1rem 0 3rem;

}

.hero-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    padding: 1rem;
    /* height: 16rem; */
}

.hero h2 {
    font-size: 3.5rem;
    text-align: right;
    margin-right: 0.5rem;
}

.bar {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    margin: 0.5rem 0 1rem;
    border-radius: 100rem;
}

.carousel {
    height: 80vh;
}

.carousel .legend {
    font-size: 100px;
}

@media only screen and (max-width: 768px) {
    
    header nav ul {
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0 0 16px 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        flex-direction: column;
        height: fit-content;
        margin: 0;
    
        width: 100%;
        position: absolute;
        scale: 0;
        transform-origin: top right;
        rotate: 90deg;
    
        transition: rotate 0.25s, scale 0.25s;
    }
    
    
    header nav ul li {
        display: inline-block;
        width: 100%;
    }
    
    header nav ul li a {
        width: 100%;
        filter: blur(5px);
        opacity: 0;
        transition: all 0.2s;
        font-size: 1.25rem;
    }

    header nav ul li:first-of-type {
        border-top: 1px solid #333;
    }

    header nav ul li:last-of-type {
        border-radius: 0 0 16px 16px;
    }
    
    header nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .drop {
        color: white;
        display: block;
        font-size: 2.2rem;
        line-height: var(--nav-height);
        width: 4rem;
        height: 100%;
        text-align: center;
        z-index: 5;
    }
    

    .drop-toggle {
        display: block;
        scale: 3.5;
        position: absolute;
        right: 1.5rem;
        z-index: 10;
        opacity: 0;
        cursor: pointer;

    }

    header nav .drop-toggle:checked + ul {
        display: flex;
        flex-direction: column;
        top: var(--nav-height);
        rotate: 0deg;
        scale: 1;
        z-index: 10;
    }
    
    header nav .drop-toggle:checked + ul li a {
        opacity: 1;
        color: #fff;
        filter: blur(0);
    }


    header nav ul li:nth-of-type(1):hover a,
    header nav ul li:nth-of-type(2):hover a,
    header nav ul li:nth-of-type(3):hover a {
        scale: unset;
    }

    header nav ul li:nth-of-type(1):hover {
        background-color: rgba(255 10 59 / 0.4);
        backdrop-filter: blur(10px);
    }

    header nav ul li:nth-of-type(2):hover {
        background-color: rgba(57 255 20 / 0.3);
        backdrop-filter: blur(10px);
    }

    header nav ul li:nth-of-type(3):hover {
        background-color: rgba(0 150 255 / 0.3);
        backdrop-filter: blur(10px);
    }

    header nav ul li:nth-of-type(1) a {
        transition-delay: 0.15s;
    }

    header nav ul li:nth-of-type(2) a {
        transition-delay: 0.3s;
    }
    
    header nav ul li:nth-of-type(3) a {
        transition-delay: 0.45s;
    }

    h1 {
        font-size: 1.33rem;
    }

    .hero-content {
        margin: 0 1rem;
    }

    .hero h2 {
        text-align: center;
        margin-right: 0;
        font-size: 3rem;
    }
}